.loader {
  border: 4px solid rgba(70, 65, 65, 0.3);
  border-top: 4px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style for dark mode */
:global(.dark) .loader {
  border-top-color: #ffffff;
}
